@import "../styles/variables";

.player-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &__wrapper-img {
        width: 65px;
        height: 65px;
        overflow: hidden;
        position: relative;
        border: 2px solid transparent;
        transition: border-color ease-in-out 0.25s;
    }

    &__img {
        height: 100%;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0.5;
        filter: grayscale(1);
        transition: all ease-in-out 0.25s;
    }

    .badge-free {
        position: absolute;
        color: #ffffff;
        font-size: 10px;
        text-align: center;
        bottom: 2px;
        right: 2px;
        padding: 2px 4px;
        font-size: 14px;
        filter: grayscale(1);
        transition: all ease-in-out 0.25s;

        .fa-gift {
            vertical-align: middle;
        }
    }

    .badge-stats {
        position: absolute;
        color: #ffffff;
        font-size: 14px;
        text-align: center;
        top: 2px;
        left: 2px;
        filter: grayscale(1);
        transition: all ease-in-out 0.25s;
        padding: 2px 4px;
    }

    &__item {
        cursor: pointer;
        position: relative;

        &--blue {

            .badge-free,
            .badge-stats {
                background: $bgBlue;
            }
        }

        &--red {

            .badge-free,
            .badge-stats {
                background: $bgRed;
            }
        }

        &--green {

            .badge-free,
            .badge-stats {
                background: $bgGreen;
            }
        }

        &--blue:hover {
            .player-list__wrapper-img {
                border-color: $bgBlue;
                transition: border-color ease-in-out 0.25s;
            }
        }

        &--red:hover {
            .player-list__wrapper-img {
                border-color: $bgRed;
                transition: border-color ease-in-out 0.25s;
            }
        }

        &--green:hover {
            .player-list__wrapper-img {
                border-color: $bgGreen;
                transition: border-color ease-in-out 0.25s;
            }
        }

        &:hover {

            .badge-free,
            .badge-stats {
                filter: grayscale(0);
                transition: all ease-in-out 0.25s;
            }

            .player-list__img {
                filter: grayscale(0);
                opacity: 1;
                transition: all ease-in-out 0.25s;
            }
        }

        &--possessed {

            .badge-free,
            .badge-stats {
                filter: grayscale(0);
            }

            .player-list__img {
                filter: grayscale(0);
                opacity: 1;
            }
        }
    }
}