@import "../styles/variables";

.detail-stats-player {
	padding: 12px;
	position: relative;

	&__id {
		//display: none;
	}

	&__img {
		width: 100%;
		position: absolute;
		top: 65%;
		transform: translateY(-50%);
	}

	&__img-wrapper {
		position: relative;
		height: 170px;
		overflow: hidden;
		margin-bottom: 6px;
	}

	&__full-name {
		text-transform: capitalize;
		font-size: 1.4rem;
		font-weight: bold;
		position: absolute;
		padding-left: 25px;
		margin-bottom: 6px;
		z-index: 10;
		top: 0;
		left: 0;
		padding-top: 3px;
		padding-bottom: 3px;
		width: 100%;
		background: rgba(255, 255, 255, .85);
	}

	&__sub-name {
		font-size: 12px;
		text-transform: capitalize;
		display: block;
		font-weight: normal;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}

	&__series {
		font-size: 1.2rem;
		color: #000000;
		display: block;
		font-weight: normal;
		display: none;
	}

	&__flag {
		position: absolute;
		top: 6px;
		left: 3px;
	}

	&__stats-category {
		margin-bottom: 6px;
		border: 1px solid #555555;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__btn-delete {
		font-size: 1.6rem;
		position: absolute;
		top: -20px;
		right: 0;
		transition: transform ease 0.4s;

		&:hover {
			transform: translateY(-2px);
			transition: transform ease 0.2s;
		}
	}

	&__positions {
		position: absolute;
		z-index: 10;
		right: 3px;
		bottom: 3px;
		display: flex;
	}

	&__rate {
		font-size: 12px;
		text-align: center;
		margin-bottom: 6px;
		color: #f5a100;
		height: 14px;
	}
}

.player-stats {
	font-size: 1.2rem;

	&__row-wrapper {
		&:nth-child(even) {
			background: #dfdfdf;
		}
	}

	&__row {
		&--category {
			display: flex;
			background: #555555;
			color: #ffffff;
			font-weight: bold;
			justify-content: space-between;
			padding: 3px;
		}
	}

	&__stats-in-match {
		display: flex;
		justify-content: space-between;
		padding: 3px;
	}

	&__stats-skill {
		display: flex;
		justify-content: space-between;
		padding: 0 3px 3px 3px;
		font-weight: bold;
		align-items: center;
		line-height: 10px;
		height: 20px;
	}

	&__stats-skill-stats {
		white-space: nowrap;
		font-size: 14px;

		&--high {
			color: #4f0060;
		}

		&--medium {
			color: #770000;
		}

		&--low {
			color: #a46000;
		}
	}

	&__stats-skill-name {
		max-width: 80%;
		text-transform: capitalize;

		>span {
			white-space: nowrap;
		}
	}

	&__lb {
		font-size: 1.0rem;
		color: #aa1894;
		margin-left: 4px;
		display: inline-block;
		display: none;
	}

	&__bb {
		font-size: 1.0rem;
		color: #000000;
		margin-left: 4px;
		display: inline-block;
		display: none;
	}

	&__value-intensity {
		margin-left: 8px;
		font-weight: bold;
	}

	&__value-goodread {
		margin-right: 8px;
		color: #555555;
	}

	&__boost_intensity,
	&__boost_params,
	&__boost_good_read {
		padding: 0 3px;
		color: #555555;
		font-size: 10px;
	}
}

.boost {
	margin-bottom: 6px;
	text-align: center;
	color: #ffffff;

	&--formation,
	&--limit-break {
		display: none;
	}

	&__value-list {
		display: flex;
		flex-wrap: wrap;
	}

	&__input {
		width: 100%;
		text-align: center;
		width: 100%;
		background: #ffffff;
		text-align: center;
		border: 1px solid #8c0b6c;
		color: #8c0b6c;
		font-size: 12px;
		height: 18px;

		&--red {
			color: $colorRed;
			border: 1px solid $colorRed;
		}

		&--blue {
			color: $colorBlue;
			border: 1px solid $colorBlue;
		}

		&--green {
			color: $colorGreen;
			border: 1px solid $colorGreen;
		}
	}

	&__value-item {
		width: 33.3333%;
		background: #8c0b6c;

		&.empty {
			background: #ffffff;
		}

		&--red {
			background: $colorRed;
		}

		&--blue {
			background: $colorBlue;
		}

		&--green {
			background: $colorGreen;
		}
	}

	&--limit-break {
		.boost__value-item {
			width: 33.3333%;
		}
	}
}

.boost--intensity {
	.boost__value-item {
		width: 33.3333%;
	}
}

.boost--boost {
	.boost__value-item {
		width: 33.3333%;
	}
}

.boost--boundary-break {
	.boost__value-item {
		width: 100%;

		select {
			appearance: none;
			cursor: pointer;
		}
	}
}