html {
    font-family: Arial, Geneva, Tahoma, sans-serif;
    font-size: 62.5%;
}

.container {
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 12px;
}

.logo-tsudata {
  display: block;
  margin: 0 auto;
}

.button--primary {
    padding: 6px;
    font-size: 1.6rem;
    background: #cccccc;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

    &:hover {
      background-color: #555555;
      color: #ffffff;
    }
}

h2 {
  font-size: 12px;
  text-align: center;
  margin-top: 12px;
  margin-bottom: 3px;
  text-transform: uppercase;
}

.button--secondary {
    padding: 6px;
    font-size: 1.4rem;
    background: #cccccc;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

    &:hover {
      background-color: #555555;
      color: #ffffff;
    }
}

.text-color {
  &--blue {color: $colorBlue}
  &--red {color: $colorRed}
  &--green {color: $colorGreen}
}

.bg-color {
  &--blue {background: $bgBlue}
  &--red {background: $bgRed}
  &--green {background: $bgGreen}
}

.btn-bg {
  &--blue {
    background: $bgBlue;
    color: #ffffff;
    &:hover {
      background: $colorBlue;
    }
  }
  &--red {
    background: $bgRed;
    color: #ffffff;
    &:hover {
      background: $colorRed;
    }
  }
  &--green {
    background: $bgGreen;
    color: #ffffff;
    &:hover {
      background: $colorGreen;
    }
  }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}