$colorBlue: #003687;
$bgBlue: #0066ff;
$paleBlue: #4a6791;

$colorRed: #9f0404;
$bgRed: #ff0000;
$paleRed: #9b7676;

$colorGreen: #007502;
$bgGreen: #01b304;
$paleGreen: #667a66;

$bgGrey: #555555;
$darkGrey: #252525;

$bgPink: #8c0b6c;
$colorPink: #aa1894;

$bgOrange: #8d6924;